// outline
$shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
$border-radius-default: 4px;
$border-weight: 1px;

// spacing
$spacer-1: 4px;
$spacer-2: 8px;
$spacer-3: 12px;

//colors
$gray:  #cbcbcc;
$blue: #4fb1e0;

//form
$field-height: 20px;